[app]
title = {{ product_name }}
package.name = {{ package_name }}
package.domain = {{ package_domain }}
source.dir = {{ source_dir }}
version = {{ version }}
requirements = python3,kivy,pywebview
android.add_jars = {{ android_jar_path }}

[buildozer]
log_level = 2
